html {
    scroll-behavior: smooth;
}

body {
    text-align: left;
    background-color: greenyellow !important;
}

.mynavbar {
    position: fixed;
    z-index: 999;
    width: 100%;
}

#visimage {
    margin-top: 150px;
}

#motto {
    color: blue;
}

section {
    margin: 10px;
    padding-top: 150px;
}
h1 {
    text-decoration-color: blue;
    color: blue !important;
}
h2 {
    color: red !important;
}
h3 {
    color: orange !important;
}
h4 {
    color: darkorange !important;
}
h5 {
    color: chocolate !important;
}
.center {
    text-align: center;
}

#ir iframe {
    width: 49%;
    height: 400px;
}

#or iframe {
    width: 33%;
    height: 400px;
}
.p{
    margin-left: -300px;
}
.testimonials{
    cursor: pointer;
}
.modal-content{
    margin-top: 100px;
}
.img_modal{
    margin-top: 10px;
}